.StickyNoteTile {
    text-align: center;
    border: solid;
    background-color: #424242;
    color: white;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 25px;
    padding: 5px;
}

.content{
    float: left;
}
.deleteButton{
    float: right;
}