.LoginForm {
    vertical-align: middle;
    margin: auto;
    margin-top: 4em;
    width: 20em;
    height: 20em;
    background-color: #4F4F51;
    padding: 10em;
    text-align: center;
}
.LoginForm input{
    background-color: whitesmoke;
}

input {
    width: 15em;
    height: 15px;
    margin: 4px;
    padding: 0.6vw 1vw 0.4vw;
    border: 0;
    border-radius: 0.15vw;
    outline: none;
    background-color: #D6D6D6;
    font-size: 15px;
    text-align: left;
}