.UsersWindow {
    background: rgba(0,0,0,0.7);
    position: absolute;
    padding: 10vw;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    text-align: center;
}
.UsersWindow form, .UsersWindow h2{
    background-color: var(--menu)
}

.UsersWindow table{
    background-color: var(--menu);
}

#forma {
    height: 17vw;
    width: 30vw;
    margin-left: 23vw;
}

#none {
    background-color: red;
    width: 30vw;
    margin-left: 23vw;
}
h2 {
    width: 30vw;
    margin-left: 23vw;
}

#opa{
    color: lightgreen;
}

#taki {
    margin-left: 23vw;
}

table{
    width: 30vw;
}