.Notes {
	border-right: 2px solid #2C2B30;
}
.NoteTile {
	width: 300px;
	height: 100px;
	border-radius: 3px;
	background-color: #4F4F51;
	border: solid 1px #2C2B30;
	padding: 3px;
	margin: 2px;
	color: lightgray;
	float:left;
	text-align:center;
}
.description{
	word-wrap: break-word;
}

#rowcount {
	float: right;
	clear:both;
	margin-right: 50px;
}

header {
	margin-bottom: 5px;
	background-color: #4F4F51;
	display: flex;
	border-bottom: 2px solid black;
	border-collapse: collapse;
}

#TypeSelect{
	float: left;
	height: 20px;
	clear:both;
	margin-left: 30px;
	margin-top: 20px;
}

#reverse {
	color: white;
	margin-left: 30px;
	margin-top: 20px;
}

h2 {
	margin-left:auto;
	margin-right: 400px;
	clear: both;
}

.Notes ul{
	padding: 5px;
}

.NoteTile:hover {
	background: linear-gradient(135deg, #000428, #004e92)
}

#theme{
	background: none;
	height: 25px;
	width: 25px;
	text-align: center;
	margin-right: 20px;
}