#notes-wrapper {
	padding: 1.1vw;
	overflow-y: scroll;
	height: 98%;
}
.NoteTile {
	font-size: 1vw;
	width: 15.4vw;
	height: 14.5vw;
	border-radius: 3px;
	background-color: rgb(136, 137, 168);
	border: solid 1px rgb(112, 112, 138);
	padding: 0.39vw;
	margin: 2px;
	color: lightgray;
	float: left;
	text-align: center;
}
.description{
	word-wrap: break-word;
}

.nav {
	padding: 1vw;
	background-color: #4F4F51;
	display: flex;
}

#TypeSelect {
	float: left;
	height: 25px;
	clear: both;
	margin-left: 30px;
	margin-top: 10px;
	background-color: #D6D6D6;
}

#reverse {
	color: #D6D6D6;
	margin-left: 10px;
	margin-top: 12px;
}

h2 {
	margin: auto;
	margin-right: 400px;
	clear: both;
}

.Notes ul{
	padding: 5px;
	height: 100%;
}

.NoteTile:hover {
	background: linear-gradient(135deg, rgb(136, 137, 168), #004e92)
}

#rowcount {
	align-content: center;
	border: 0;
	padding: 0;
	margin: 0;
}

#add {
	font-size: 1vw;
	width: 15.4vw;
	height: 14.5vw;
	border-radius: 3px;
	background-color: rgb(161, 154, 104);
	border: solid 1px rgb(130, 125, 85);
	padding: 0.39vw;
	margin: 2px;
	color: lightgray;
	float: left;
	text-align: center;
}

#add p{
	margin: 30% auto 0 auto;
	padding: 0;
	width: 7em;
}

	#add:hover {
		background: linear-gradient(135deg, rgb(161, 154, 104), orange)
	}

.red .NoteTile {
	background-color: rgb(166, 99, 91);
	color: white;
	border-color: rgb(140, 83, 76);
}

	.red .NoteTile:hover {
		background: linear-gradient(135deg, rgb(166, 99, 91), red)
	}
.green .NoteTile {
	background-color: rgb(126, 163, 136);
	color: white;
	border-color: rgb(39, 161, 72);
}
	.green .NoteTile:hover {
		background: linear-gradient(135deg, rgb(53, 173, 35), #004e92)
	}
.NoteTile label {
	color: #000;
}

#logout{
	height: 25px;
	margin-top: 7px;
}
