.NoteTile {
	text-align: center;
	border-radius: 10px;
	border-style: solid;
	width: 200px;
	height: 100px;
	background-color: #424242;
	color: white;
	margin: 20px;
	float: left;
}

#done {
	float: right;
	height: 50px;
	border-radius: 0px 10px 0px 0px;
	width: 25px;
	background-color: rgb(3, 187, 3);
}

#delete {
	float: right;
	height: 50px;
	clear: both;
	border-radius: 0px 0px 10px 0px;
	width: 25px;
	background-color: red;
}
