.NoteView {
    top: 0;
    width: 15vw;
    padding: 1vw;
    text-align: center;
    background-color: var(--menu);
    position: absolute;
    left: 0;
    bottom: 0;
}
.Notes {
    position: absolute;
    left: 17vw;
    right: 12.2vw;
    height: 89%;   
}
.StickyNotes {
    background-color: #4F4F51;
    display: inline-block;
    top: 0;
    bottom: 0;
    padding: 0.1vw;
    width: 12vw;
    position: absolute;
    right: 0;
}