@font-face {
    font-family: 'Jura-Light';
    src: local('Jura-Light'), url("./fonts/Jura-Light.ttf") format('truetype');
}
@font-face {
    font-family: 'Jura-Medium';
    src: local('Jura-Medium'), url("./fonts/Jura-Medium.ttf") format('truetype');
}
@font-face {
    font-family: 'Jura-Regular';
    src: local('Jura-Regular'), url("./fonts/Jura-Regular.ttf") format('truetype');
}

html {
    background-color:#D6D6D6;
    font-family: Jura-Medium;
}

body, html, .Notes, .NoteView, .StickyNotes, .App, #root, ul{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    display: inline-block;
}

.App, header {
    display: flex;
}

.NoteView {
    width: 20%;
    float: left;
    padding: 20px;
    background-color: #2C2B30;
}

.StickyNotes {
    width: 22%;
    background-color: #4F4F51;
    border-right: solid;
    border-top: solid;
    border-bottom: solid;
    border-color: #2C2B30;
}

.StickyNotes ul{
    float:right;
    display: flex;
    flex-direction: column;
}