@font-face {
    font-family: 'Jura-Light';
    src: local('Jura-Light'), url("./fonts/Jura-Light.ttf") format('truetype');
}
@font-face {
    font-family: 'Jura-Medium';
    src: local('Jura-Medium'), url("./fonts/Jura-Medium.ttf") format('truetype');
}
@font-face {
    font-family: 'Jura-Regular';
    src: local('Jura-Regular'), url("./fonts/Jura-Regular.ttf") format('truetype');
}

* {
    font-family: Jura-Medium;
    user-select: none;
}

html, body, #root, .App {
    height: 100%;
}

html {
    background-color:#D6D6D6;
}

body, html, .Notes, .NoteView, .StickyNotes, .App, #root, ul{
    padding: 0;
    margin: 0;
    width: 100%;
    display: inline-block;
}

.App, header {
    position: absolute;
    top: 0;
    align-content: center;
    
}

.NoteView {
    float: left;
    padding: 20px;
    background-color: #2C2B30;
    position: absolute;
    bottom: 0;
    top:0;
    left: 0;
}

.StickyNotes {
    width: 16em;
    background-color: #4F4F51;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
}

.StickyNotes ul{
    float:right;
    display: flex;
    flex-direction: column;
}
