@font-face {
    font-family: 'Jura-Light';
    src: local('Jura-Light'), url("./fonts/Jura-Light.ttf") format('truetype');
}

@font-face {
    font-family: 'Jura-Medium';
    src: local('Jura-Medium'), url("./fonts/Jura-Medium.ttf") format('truetype');
}

@font-face {
    font-family: 'Jura-Regular';
    src: local('Jura-Regular'), url("./fonts/Jura-Regular.ttf") format('truetype');
}

:root {
    --background: rgb(154, 174, 214);
    --menu: rgb(99, 137, 214);
    --border: rgb(57, 108, 212);
    --input-background: #D6D6D6;
}

* {
    font-family: Jura-Medium;
    user-select: none;
    resize: none;
}

html, body, .App, #root {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 1.2vw;
    border: none;
}
ul, li{
    padding: 0;
    margin: 0;
}

html {
    background-color: var(--background);
}