#title{
    color: white;
    font-size: 3vw;
    text-align: center;
    margin: auto;
}

body {
    color: white;
}

#select1 {
    width: 6.9vw;
    height: 2vw;
    margin: 0.2vw;
    border: 0;
    border-radius: 0.15vw;
    outline: none;
    background-color: #D6D6D6;
    font-size: 0.8vw;
    text-align: center;
    margin-bottom: 0.5vw;
}

#reset {
    width: 7vw;
    background-color: #F2C4CE;
    border: solid 1px #F58F7C;
    padding: 0.2vw;
    margin: auto;
}

#submit {
    width: 7vw;
    background-color: lightgreen;
    border: solid 1px green;
    padding: 0.2vw;
    margin: auto;
}

textarea {
    width: 12vw;
    height: 10vw;
    margin: 0.2vw;
    padding: 0.6vw 1vw 0.4vw;
    border: 0;
    border-radius: 0.15vw;
    outline: none;
    background-color: #D6D6D6;
    font-size: 0.8vw;
}

#tytul{
    width: 11vw;
    height: 0.9vw;
    padding: 0.4vw;
    margin-top: 0.3vw;
    margin-right: 0.4vw;
    border: 0;
    border-radius: 0.15vw;
    outline: none;
    background-color: #D6D6D6;
    font-size: 0.8vw;
    text-align: center;
}

#prio {
    width: 2vw;
    height: 1.7vw;
    border: 0;
    border-radius: 0.15vw;
    outline: none;
    background-color: #D6D6D6;
    font-size: 0.8vw;
    text-align: center;
}

#data {
    width: 4.7vw;
    height: 0.8vw;
    margin: 0.2vw;
    padding: 0.6vw 1vw 0.4vw;
    border: 0;
    border-radius: 0.15vw;
    outline: none;
    background-color: #D6D6D6;
    font-size: 0.7vw;
    text-align: center;
}

#sale{
    background-color: #D6D6D6;
    height: 10vw;
    margin-left: 0.4vw;
    margin-bottom: 0.7vw;
    width: 6.9vw;
    float: left;
    margin-right: 0.3vw;
    color: black;
}

#osoby {
    background-color: #D6D6D6;
    height: 10vw;
    width: 6.9vw;
    margin-right: 0.4vw;
    margin-bottom: 0.7vw;
    float: right;
    color: black;
}

li div{
    float: right;
    margin-right: 0.1vw;
    color: red;
}
li:hover {
    background: linear-gradient(135deg, rgb(136, 137, 168), rgb(136, 137, 168))
}