#title{
    color: white;
    font-size: 40px;
    text-align: center;
    margin-left: 10px;
}

#frima{
    margin-left: 20px;
    margin-top: 30px;
}

body {
    color: white;
}

#select1 {
    width: 215px;
    height: 40px;
    margin: 4px;
    padding: 0.6vw 1vw 0.4vw;
    border: 0;
    border-radius: 0.15vw;
    outline: none;
    background-color: #D6D6D6;
    font-size: 15px;
    text-align: center;
}

#reset {
    width: 110px;
    background-color: #F2C4CE;
    border: solid;
    border-style: 1px;
    border-color: #F58F7C;
    padding: 5px;
}

#submit {
    width: 110px;
    background-color:lightgreen;
    border: solid;
    border-style: 1px;
    border-color: green;
    padding:5px;
}

textarea {
    width: 175px;
    height: 60px;
    margin: 4px;
    padding: 0.6vw 1vw 0.4vw;
    border: 0;
    border-radius: 0.15vw;
    outline: none;
    background-color: #D6D6D6;
    font-size: 15px;
}

#select2 {
    width: 215px;
    height: 40px;
    margin: 4px;
    padding: 0.6vw 1vw 0.4vw;
    border: 0;
    border-radius: 0.15vw;
    outline: none;
    background-color: #D6D6D6;
    font-size: 15px;
    text-align: center;
}

.NoteView{
    background-color: 2C2B30;
}

input {
    width: 175px;
    height: 15px;
    margin: 4px;
    padding: 0.6vw 1vw 0.4vw;
    border: 0;
    border-radius: 0.15vw;
    outline: none;
    background-color: #D6D6D6;
    font-size: 15px;
    text-align: center;
}